<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReThread Market</title>

    <link rel="stylesheet" href="styles/style.css">
    <script src="https://kit.fontawesome.com/5564cf5136.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
</head>
<body>
    <div class="navbar">
        <ul class="navbar-links">
            <li><a href="./index.html" id="title">ReThread Market</a></li>
            <li class="right-side"><a href="./search.html"><i class="fa-solid fa-magnifying-glass"></i> Search</a></li>
            <li class="right-side"><a href="./cart.html"><i class="fa-solid fa-cart-shopping"></i> Shop</a></li>
            <li class="right-side dropdown">
                <a href="#" class="dropdown-btn"><i class="fa-regular fa-user"> Profile</i></a>
                <div class="dropdown-content">
                    <a href="#">My Profile</a>
                    <a href="./login.html">Log In</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="main-section">
        <div class="image-section">
            <img src="images/market_image.jpg" alt="">
        </div>
        <div class="intro-section">
            <h1>Welcome to ReThread Market</h1>
            <p>Discover unique treasures and contribute to a sustainable future.</p>
            <a href="cart.html" class="get-started-button">Get Started</a>
        </div>

        <div class="about-us-section">
            <h2>About Us</h2>
            <p>
                What do we do? We are dedicated to providing a platform for buying and selling unique and sustainable products. Our marketplace connects buyers with sellers who prioritize eco-friendly practices, helping to reduce waste and promote a greener future. Whether you're a thrifter looking for your next treasure or a seller wanting to give new life to pre-loved items, ReThread Market is the place for you.
            </p>
        </div>
    </div>

</body>
</html>