<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - ReThread Market</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/login-style.css">
    <script src="https://kit.fontawesome.com/5564cf5136.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="navbar">
        <ul class="navbar-links">
            <li><a href="./index.html" id="title">ReThread Market</a></li>
            <li class="right-side"><a href="./search.html"><i class="fa-solid fa-magnifying-glass"></i> Search</a></li>
            <li class="right-side"><a href="./cart.html"><i class="fa-solid fa-cart-shopping"></i> Shop</a></li>
            <li class="right-side dropdown">
                <a href="#" class="dropdown-btn"><i class="fa-regular fa-user"> Profile</i></a>
                <div class="dropdown-content">
                    <a href="#">My Profile</a>
                    <a href="./login.html">Log In</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="login-container">
        
        <div class="login-image">
            <img src="images/clothes.jpeg" alt="Clothes Image">
        </div>

        <div class="login-form">
            <h2>Login to ReThread Market</h2>
            <form id="loginForm" method="POST">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter username" required>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter password" required>
                <button type="submit" class="login-button">Login</button>
            </form>
            <p>You don't have an account? <a href="signup.html">Sign Up</a></p>
        </div>
    </div>
    <script src="scripts/script.js"></script>
</body>
</html>
