<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - ReThread Market</title>
    <link rel="stylesheet" href="../styles/login-style.css">
    <link rel="stylesheet" href="../styles/style.css">
    <script src="https://kit.fontawesome.com/5564cf5136.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="navbar">
        <ul class="navbar-links">
            <li><a href="../index.html" id="title">ReThread Market</a></li>
            <li class="right-side"><a href="pages/search.html"><i class="fa-solid fa-magnifying-glass"></i> Search</a></li>
            <li class="right-side"><a href="pages/cart.html"><i class="fa-solid fa-cart-shopping"></i> Shop</a></li>
            <li class="right-side dropdown">
                <a href="#" class="dropdown-btn"><i class="fa-regular fa-user"> Profile</i></a>
                <div class="dropdown-content">
                    <a href="./user.html">My Profile</a>
                    <a href="pages/login.html">Log In</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="login-container">
        
        <div class="login-image">
            <img src="../images/clothes.jpeg" alt="Clothes Image">
        </div>

        <div class="login-form">
            <h2>Sign Up for ReThread Market</h2>
            <form id="signupForm" method="POST">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="Enter your name" required>
                <label for="last-name">Last Name</label>
                <input type="text" id="last_name" name="last_name" placeholder="Enter your last name" required>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter username" required>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter email" required>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter password" required>
                <button type="submit" class="login-button">Sign Up</button>
            </form>
            <p>Already have an account? <a href="login.html">Log In</a></p>
        </div>
    </div>
</body>
</html>
