/* shopping-cart-style.css */

/* Header */
header {
    background-color: rgb(2, 77, 2);
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

/* Cart Items */
.cart-items {
    padding: 20px;
}

/* Individual Cart Item */
.cart-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.cart-item img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.cart-item-details {
    flex-grow: 1;
}

.cart-item-details h3 {
    margin: 0;
    font-size: 18px;
}

.cart-item-details p {
    margin: 5px 0;
}

.cart-item-price {
    font-weight: bold;
}

/* Total Section */
footer {
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    margin: 0;
}

footer button {
    background-color: darkgreen;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

footer button:hover {
    background-color: #257d25;
}
